html {
    font-family: 'Roboto', 'Times New Roman';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
}

.header-top a {
    color: #e5e7eb;
    text-decoration: none;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
}

.header-links {
    font-size: 18px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 60px;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    gap: 8px;
    font-size: 18px;
}

.header-content-text button {
    flex-grow: 0;
    background-color: #3882f6;
    width: 150px;
    padding: 8px;
    color: white;
}

.header-content-text-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-content-image img {
    height: 200px;
    width: auto;
}

.content {
    flex-grow: 1;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;

}

.gallery-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.gallery-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    /*align-items: center;*/
}

.gallery-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-left: 20%;
    padding-right: 20%;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-size: 300;
    text-align: center;
}

.quote-author {
    text-align: right;
    padding-right: 30%;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #388bf6;
    color: white;
}

.call-to-action div {
    margin: 20px;
}

.call-to-action button {
    flex-grow: 0;
    background-color: #3882f6;
    width: 150px;
    padding: 8px;
    color: white;
    border-color: white;
}

.footer {
    align-items: center;
}